{% extends 'base.html.twig' %}

{% block title %}Hello AssureController!{% endblock %}
{% block css %}
    <style>

    /*    .highcharts-figure, .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }
        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }
        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }
        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }
        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }
        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }


        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }
        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }
        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }
        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }
        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }
        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }


        input[type="number"] {
            min-width: 50px;
        }
*/    </style>
    <style>
        /* Center the loader */
        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from { bottom:-100px; opacity:0 }
            to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom {
            from{ bottom:-100px; opacity:0 }
            to{ bottom:0; opacity:1 }
        }

        #myDiv {
            display: none;
            text-align: center;
        }
    </style>

{% endblock %}

{% block body %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Statistiques</h3>
                </div>


            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Statistiques</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>

                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!--- baaaaarrrr ------------------------------------------------------ -->



                            <!--- end / baaaaarrrr ------------------------------------------------------ -->
                            <div class="form-group row">



                                <div id="datasetList" class="col-md-6 col-sm-6 ">


                                    <select  class="form-control">
                                        <option>Dataset </option>
                                    </select>


                                </div>
                                <div id="chartList"  class="col-md-6 col-sm-6 ">
                                    <select class="form-control"  onchange="showGraph(this.value)">
                                        <option>Type Chart</option>
                                        <!--    <option value="Pie Chart">Pie Chart</option>
                                        <option value="Bar Chart">Bar Chart</option>
                                          <option value="Line Chart">Line Chart</option> -->
                                    </select>
                                </div>



                            </div>


                            <div class="form-group row">
                                <div  id="dimensionList" class="col-md-6 col-sm-6 ">
                                    <div id="dmList">

                                    </div>
                                </div>
                                <div id="mesureList"  class="col-md-6 col-sm-6 ">
                                    <div id="mesList">
                                        tetst


                                    </div>
                               <!--     <select class="form-control">
                                        <option>Colonne 2</option>
                                        
                                    </select>-->
                                </div>



                            </div>



                           <div id="content" class='hidden'>

                            </div>


                            <div id="loader" >

                            </div>


                        </div>



                        <!----------------------------------------------------------------------------------------->
                        <!----------------------------------------------------------------------------------------->
                        <!----------------------------------------------------------------------------------------->


                        <button type="submit" class="btn btn-round btn-success" id ="btnSave">Enregistrer</button>




                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /page content -->


{% endblock %}


{% block js %}
    <script>
        var nbChecked = 0;
        var tab = "" ;
        var col1 = "" ;
        var col2 = "" ;

        var dataset = "";
        var nbDimensions = 0 ;
        var nbMesures = 0 ;
        var dimension = "";
        var mesure = "" ;

        var chart = "" ;
        $(document).ready(function(){

            document.getElementById("loader").style.display = "none";
            document.getElementById("dimensionList").style.visibility = "hidden";
            document.getElementById("mesureList").style.visibility = "hidden";
            document.getElementById("chartList").style.visibility = "hidden";
            showDatasetList();
        })
        function showDatasetList() {
            document.getElementById("loader").style.display = "none";
            var base_url = window.location.origin;
            var urlAPI = base_url+"/api/dashboard/getDataset"
            $.getJSON( urlAPI, function( data ) {

                //    alert(data);
                var select = $("<select class=\"form-control\"></select>").attr("id", "datasets").attr("onchange", "selectedDataset(this.value)");
                select.append($("<option></option>").attr("value", "").text("Dataset"));
                var data_length = data.length;
                for (var i = 0; i < data_length; i++) {
                    select.append($("<option></option>").attr("value", data[i]["nom"]).text(data[i]["nom"]));
                }
                $("#datasetList").html(select);

            });
        }

        function selectedDataset(val) {

            document.getElementById("loader").style.display = "block";
            if (val=="") {
                 nbChecked = 0;
                 tab = "" ;
                 col1 = "" ;
                 col2 = "" ;

                 dataset = "";
                 nbDimensions = 0 ;
                 nbMesures = 0 ;
                 dimension = "";
                 mesure = "" ;
                chart = "" ;
                showDatasetList();
                document.getElementById("chartList").style.visibility = "hidden";
                document.getElementById("dimensionList").style.visibility = "hidden";
                document.getElementById("mesureList").style.visibility = "hidden";
                document.getElementById("content").style.visibility = "hidden";
                return;
            } else {
                document.getElementById("mesureList").style.visibility = "hidden";
                document.getElementById("chartList").style.visibility = "hidden";
                document.getElementById("content").style.visibility = "hidden";
                dataset = val ;

                nbDimensions = 0 ;
                nbMesures = 0 ;
                dimension = "";
                mesure = "" ;
                 chart = "" ;
                showDimensionList(val);
                showMesureList(val);
                document.getElementById("dimensionList").style.visibility = "visible";
                document.getElementById("mesureList").style.visibility = "visible";
            }


        }

        function showDimensionList(val) {

            document.getElementById("dimensionList").style.visibility = "visible";
            document.getElementById("loader").style.display = "none";
            var base_url = window.location.origin;
            var urlAPI = base_url+"/api/dashboard/getDimensions?dataset=" + val
            $.getJSON( urlAPI, function( data ) {
                /*   var select = $("<select class=\"form-control\"></select>").attr("id", "tables").attr("onchange", "selectedCol1(this.value)");
                   select.append($("<option></option>").attr("value", "").text("Colonne 1"));
                   var data_length = data.length; */

                var container = $('#dimensionList');
                $("#dimensionList").html("");
                var inputs = container.find('input');
                for (var i = 0; i < data.length; i++) {

                    nbDimensions = nbDimensions + 1 ;
                    lib = "    " + data[i]["COLUMN_NAME"];
                    $('<input />', { type: 'checkbox', id: "dimension"+i, value: data[i]["label"] , class:"flat" , onclick:'cbDimensionChange(this);' }).appendTo(container);

                    $('<label />', { 'for': data[i]["label"], text:data[i]["label"] , style:'padding-left:20px'}).appendTo(container);
                    $('<br>').appendTo(container);

                }
                 $("#dmList").html(container);
            });
        }

        function showMesureList(val) {

            document.getElementById("dimensionList").style.visibility = "visible";
            document.getElementById("loader").style.display = "none";
            var base_url = window.location.origin;
            var urlAPI = base_url+"/api/dashboard/getMesures?dataset=" + val
            $.getJSON( urlAPI, function( data ) {
                /*   var select = $("<select class=\"form-control\"></select>").attr("id", "tables").attr("onchange", "selectedCol1(this.value)");
                   select.append($("<option></option>").attr("value", "").text("Colonne 1"));
                   var data_length = data.length; */

                var container = $('#mesureList');
                $("#mesureList").html("");
                var inputs = container.find('input');
                for (var i = 0; i < data.length; i++) {
                    nbMesures = nbMesures + 1

                    lib = "    " + data[i]["COLUMN_NAME"];
                    $('<input />', { type: 'checkbox', id: "mesure"+i, value: data[i]["label"] , class:"flat" , onclick:'cbMesureChange(this);' }).appendTo(container);

                    $('<label />', { 'for': data[i]["label"], text:data[i]["label"] , style:'padding-left:20px'}).appendTo(container);
                    $('<br>').appendTo(container);

                }
                $("#mesList").html(container);
            });
        }
        function cbDimensionChange(val){
            if (val.checked == true){
                for (var i = 0; i < nbDimensions; i++) {
                    var element = document.getElementById("dimension"+i)
                    if (element.checked == true && element.value != val.value){
                        element.checked = false
                    }
                }
                dimension = val.value

                showPieChartList();
            } else {
                dimension = "" ;

                if (mesure != "") {
                    showAllChartList();
                }
                document.getElementById("chartList").style.visibility = "hidden";
            }

        }
        function cbMesureChange(val){
            if (val.checked == true){
                for (var i = 0; i < nbMesures; i++) {
                    var element = document.getElementById("mesure"+i)
                    if (element.checked == true && element.value != val.value){
                        element.checked = false
                    }
                }
                mesure = val.value
                if (dimension != ""){

                    showAllChartList();
                }

            } else {
                mesure = "" ;
                if (dimension != "") {
                    showPieChartList();
                }
                else {
                    document.getElementById("chartList").style.visibility = "hidden";
                }
            }
        }

        function selectedCol1(val) {
            if (val=="") {
                document.getElementById("chartList").style.visibility = "hidden";
                document.getElementById("mesureList").style.visibility = "hidden";
                document.getElementById("content").style.visibility = "hidden";
            } else {
                document.getElementById("chartList").style.visibility = "visible";
                document.getElementById("mesureList").style.visibility = "visible";
                document.getElementById("content").style.visibility = "hidden";
                showmesureList();
                showPieChartList();
            };
        }


        function selectedCol2(val) {
            if (val=="") {
                document.getElementById("content").style.visibility = "hidden";
                showPieChartList();

            } else {
                document.getElementById("content").style.visibility = "hidden";
                showAllChartList();
            };
        }

        function showPieChartList() {

            document.getElementById("chartList").style.visibility = "visible";

            var select = $("<select class=\"form-control\"></select>").attr("id", "listChart").attr("onchange", "showGraph(this.value)");
            select.append($("<option></option>").attr("value", "").text("Chart"));
            select.append($("<option></option>").attr("value", "Pie Chart").text("Pie Chart"));


            $("#chartList").html(select);

        }
        function showAllChartList() {
            document.getElementById("chartList").style.visibility = "visible";


            var select = $("<select class=\"form-control\"></select>").attr("id", "listChart").attr("onchange", "showGraph(this.value)");
            select.append($("<option></option>").attr("value", "").text("Chart"));
            select.append($("<option></option>").attr("value", "Pie Chart").text("Pie Chart"));
            select.append($("<option></option>").attr("value", "Bar Chart").text("Bar Chart"));
            select.append($("<option></option>").attr("value", "Line Chart").text("Line Chart"));

            $("#chartList").html(select);
        }


        function showmesureList() {
            var val = $('#datasetList').find(":selected").text();
            var base_url = window.location.origin;
            var urlAPI = base_url+"/dashboard/getColumns?tab=" + val;
            $.getJSON( urlAPI, function( data ) {
                var select = $("<select class=\"form-control\"></select>").attr("id", "tables").attr("onchange", "selectedCol2(this.value)");
                select.append($("<option></option>").attr("value", "").text("Colonne 2"));
                var data_length = data.length;
                for (var i = 0; i < data_length; i++) {
                    select.append($("<option></option>").attr("value", data[i]["COLUMN_NAME"]).text(data[i]["COLUMN_NAME"]));
                }
                $("#mesureList").html(select);
            });
        }

    </script>

    <script>

        function showGraph(period) {
            if (period=="") return; // please select - possibly you want something else here
            if (period=="Pie Chart"){
                 chart = "pieChart" ;
                document.getElementById("loader").style.display = "block";
                chartPie();
            } else  if (period=="Bar Chart"){
                chart = "barChart" ;
                document.getElementById("loader").style.display = "block";
                chartBar();
            } else  if (period=="Line Chart"){
                chart = "lineChart" ;
                document.getElementById("loader").style.display = "block";
                ChartLine();
            }
        }
        function chartPie() {




             const div = document.createElement('div');

         div.className = 'row';

         div.innerHTML = `    <figure class="highcharts-figure">
                <div id="container"></div>

            </figure>`;

         document.getElementById('content').innerHTML = "";
         document.getElementById('content').appendChild(div);

         document.getElementById("content").style.visibility = "visible";


            var dataPoints = [];
            var base_url = window.location.origin;
            var urlAPI = base_url+"/dashboard/datasetChart?chart=pieChart&dataset="+dataset+"&dimension="+dimension+"&mesure=null"
            //var urlAPI = base_url+"/dashboard/chart?tab="+val1+"&col1="+ val2+"&chart="+ "pieChart"
            console.log(urlAPI)
            $.getJSON(urlAPI, function(data)
            {
                var data_length = data.length;
                for (var i = 0; i < data_length; i++) {
                    console.log(data);
                          dataPoints.push({name:data[i][dimension], y: parseInt(data[i]["cnt"])});

                }

                document.getElementById("loader").style.display = "none";
                console.log("azaz");
                console.log(dataPoints[0]);
                console.log("popihjfdf");




            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: "pourcentages des " + dimension
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },

                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: dataPoints
                }]
            });



            })


        }

        function ChartLine() {
            const div = document.createElement('div');

            div.className = 'row';

            div.innerHTML = `    <figure class="highcharts-figure">
                <div id="container"></div>

            </figure>`;

            document.getElementById('content').innerHTML = "";
            document.getElementById('content').appendChild(div);

            document.getElementById("content").style.visibility = "visible";

            var dataPoints = [];
            var Dims = [] ;
            var base_url = window.location.origin;
            var urlAPI = base_url+"/dashboard/datasetChart?chart=lineChart&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+""  ;
            //var urlAPI = base_url+"/dashboard/chart?tab="+val1+"&col1="+ val2+"&chart="+ "pieChart"
            console.log(urlAPI)
            $.getJSON(urlAPI, function(data)
            {
                var data_length = data.length;
                for (var i = 0; i < data_length; i++) {
                    console.log(data);
                    dataPoints.push(parseInt(data[i][mesure]));

                }

                document.getElementById("loader").style.display = "none";
                console.log("azaz");
                console.log(dataPoints[0]);
                console.log("popihjfdf");



                for (var i = 0; i < data.length; i++) {

                    Dims.push(data[i][dimension]);

                }

                console.log("diimmss")
                console.log(Dims)
                Highcharts.chart('container', {

                    title: {
                        text: dimension + " par " + mesure
                    },

                    subtitle: {
                        text: ''
                    },

                    yAxis: {
                        title: {
                            text: mesure
                        }
                    },

                    xAxis: {
                        categories: Dims,
                        title: {
                            text: dimension
                        }
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },



                    series: [{
                        name: mesure,
                        data: dataPoints
                    }],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });



            })




            /*  const div = document.createElement('div');

              div.className = 'row';

              div.innerHTML = `  <div id="chartContainer" style="height: 300px; width: 100%;"></div>`;

              document.getElementById('content').innerHTML = "";
              document.getElementById('content').appendChild(div);

              document.getElementById("content").style.visibility = "visible";
              LineChartFill();

              */
        }
        function chartBar() {

            const div = document.createElement('div');

            div.className = 'row';

            div.innerHTML = `    <figure class="highcharts-figure">
                <div id="container"></div>

            </figure>`;

            document.getElementById('content').innerHTML = "";
            document.getElementById('content').appendChild(div);

            document.getElementById("content").style.visibility = "visible";

            /*   var val1 = $('#datasetList').find(":selected").text()
               var col1 = $('#dimensionList').find(":selected").text()
               var col2 = $('#mesureList').find(":selected").text() */

            val1 = tab;
            col1 = col1;
            col2 = col2;



            var uniques = [];
            var base_url = window.location.origin;
            var urlAPI = base_url+"/dashboard/getUniquesDataset?dataset="+dataset+"&mesure="+mesure+"" ;
           // alert(urlAPI)
            var myData ;
            $.ajax({
                type:"GET",
                async: false,
                dataType: "json",
                data:{name: name},
                url:urlAPI,
                success:function(data)
                {
                    myData = data;
                }
            });
            console.log(myData);
            for (var i = 0; i < myData.length; i++) {
                uniques.push(myData[i][mesure]);
            }
            var uniquesQuery = "";
            for (var i = 0; i < uniques.length; i++){
                var val = uniques[i] ;
                var cnt_val = "cnt_"+ val;
                uniquesQuery = uniquesQuery +  "sum(d."+mesure+" = '"+val+"') as "+cnt_val+","
                uniques[i] = cnt_val;
            }
            uniquesQuery = uniquesQuery.slice(0,-1);

            if (uniques.length < 10) {
                document.getElementById("loader").style.display = "block";

                BarChartFill1(uniques,uniquesQuery);
            } else {
                document.getElementById("loader").style.display = "block";
                BarChartFill2();

            }
        }

    </script>


    <script>
            function BarChartFill2(){

                var Dims = [];
                var Mes = [];
                var dataPoints = [];
                var base_url = window.location.origin;
                var urlAPI = base_url+"/dashboard/datasetChart?chart=barChart&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+""
                //var urlAPI = base_url+"/dashboard/chart?tab="+val1+"&col1="+ val2+"&chart="+ "pieChart"
                console.log(urlAPI)
                $.getJSON(urlAPI, function(data)
                {
                     // var data_length = data.length;
                   /* for (var i = 0; i < data_length; i++) {
                        console.log(data);
                        dataPoints.push({name:data[i][dimension], y: parseInt(data[i]["cnt"])});

                    } */

                    document.getElementById("loader").style.display = "none";
                    console.log("azaz");
                    console.log(dataPoints[0]);
                    console.log("popihjfdf");

                    for (var i = 0; i < data.length; i++) {

                        Dims.push(data[i][dimension]);

                    }
                    for (var i = 0; i < data.length; i++) {

                        Mes.push(parseInt(data[i][mesure]));

                    }





                    Highcharts.chart('container', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: dimension + " par " + mesure
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: Dims,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: mesure,
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 80,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: mesure,
                            data: Mes
                        }]
                    });



                })


            }


            function BarChartFill1(uniques,uniquesQuery){

                var Dims = [];
                var Mes = [];
                var dataPoints = [];
                var base_url = window.location.origin;
                var urlAPI = base_url+"/dashboard/datasetChart?chart=barChart2&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+"&query=" + uniquesQuery
                //var urlAPI = base_url+"/dashboard/chart?tab="+val1+"&col1="+ val2+"&chart="+ "pieChart"
                console.log(urlAPI)
                $.getJSON(urlAPI, function(data)
                {
                    // var data_length = data.length;
                    /* for (var i = 0; i < data_length; i++) {
                         console.log(data);
                         dataPoints.push({name:data[i][dimension], y: parseInt(data[i]["cnt"])});

                     } */

                    document.getElementById("loader").style.display = "none";

                    var seriesData = [];

                    for (var i = 0; i < uniques.length; i++) {

                        var val = uniques[i];

                        var dataPoints = [];

                        for (let j = 0; j < data.length; j++) {
                            dataPoints.push(parseInt(data[j][val]));
                        }
                        seriesData.push({name : val , data : dataPoints})


                    }




                    for (var i = 0; i < data.length; i++) {

                        Dims.push(data[i][dimension]);

                    }

                    console.log("dataset seruiess ");
                    console.log(seriesData);
                    console.log("dataset dimensions");
                    console.log(Dims);


                    Highcharts.chart('container', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: mesure +  " par " + dimension
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: Dims,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: mesure,
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 80,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: seriesData
                    });



                })


            }









    </script>

    <script>

        $("#btnSave").click( function()
            {

               var base_url = window.location.origin;
              var urlAPI = base_url+"/api/dashboard/addChart?typeChart="+chart+"&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+""
             console.log(urlAPI)
                $.ajax({
                    type: "POST",
                    url: urlAPI,
                    success: function(data){
                        Swal.fire(
                            'Good job!',
                            'Table Jointure créer!',
                            'success'
                        ) ;
                    } ,
                    error: function(errMsg) {
                        Swal.fire(
                            'Error!',
                            'Table Jointure existant!',
                            'error'
                        ) ;
                    },
                });
            }
        );
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}