{% extends 'base.html.twig' %}

{% block title %}Hello AssureController!{% endblock %}
{% block css %}
<style>
    /* Center the loader */
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 }
        to { bottom:0px; opacity:1 }
    }

    @keyframes animatebottom {
        from{ bottom:-100px; opacity:0 }
        to{ bottom:0; opacity:1 }
    }

    #myDiv {
        display: none;
        text-align: center;
    }
</style>

{% endblock %}

{% block body %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="" id ="bodyChart">
            <div class="page-title">
                <div class="title_left">
                    <h3>Dashboard</h3>
                </div>

                
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Creation des chartes</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>

                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                      <!--- baaaaarrrr ------------------------------------------------------ -->



                      <!--- end / baaaaarrrr ------------------------------------------------------ -->
                            <a href="{{ path('addChartDashboard') }}" class="btn btn-primary">add chart</a>


                        </div>


<!----------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------->


                    </div>
                    </div>
                <div id="loader" >

                </div>
                </div>



        </div>
    </div>
    <!-- /page content -->


{% endblock %}


{% block js %}
    <script>
        var nbChecked = 0;
        var tab = "" ;
        var col1 = "" ;
        var col2 = "" ;
        $(document).ready(function(){



            var base_url = window.location.origin;
            var urlAPI = base_url+"/api/dashboard/getUserCharts"
            console.log(urlAPI)
            $.getJSON(urlAPI, function(data)
            {

                console.log(data);
                var data_length = data.length;
                for (var i = 0; i < data_length; i++) {
                    var contentId = "content" + i
                    var loaderId =  "loader" + i
                    var container = $('#bodyChart');
                    $('<div class="row"> ' +
                        '<div class="col-md-12 col-sm-12  ">' +
                        '<div class="x_panel">' +
                        '<div class="x_title">' +
                        '<h2>Chart</h2>' +
                        '<div class="clearfix"></div>' +
                        '</div>' +
                        '<div class="x_content">' +
                        '<div id="'+contentId+'" class="hidden">' +
                        '   <div id="'+loaderId+'" > </div>' +

                        '</div>' +



                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>').appendTo(container);


                    if (data[i]["type"]=="barChart"){


                        // chartPie(contentId , data[i]["dataset"]["nom"] , data[i]["dimension"] , data[i]["mesure"] );
                        chartBar(contentId  , data[i]["dataset"]["nom"] , data[i]["dimension"] , data[i]["mesure"] );

                    } else   if (data[i]["type"]=="pieChart"){

                        // document.getElementById("loader").style.display = "block";
                        // chartPie(contentId , data[i]["dataset"]["nom"] , data[i]["dimension"] , data[i]["mesure"] );
                        chartPie(contentId , data[i]["dataset"]["nom"] , data[i]["dimension"] , data[i]["mesure"] );

                    }else   if (data[i]["type"]=="lineChart"){

                        // document.getElementById("loader").style.display = "block";
                        // chartPie(contentId , data[i]["dataset"]["nom"] , data[i]["dimension"] , data[i]["mesure"] );
                        chartLine(contentId , data[i]["dataset"]["nom"] , data[i]["dimension"] , data[i]["mesure"] );

                    }
                }

                  document.getElementById("loader").style.display = "none";
            })






        /*    document.getElementById("loader").style.display = "none";
            document.getElementById("col1List").style.visibility = "visible";
           document.getElementById("col2List").style.visibility = "hidden";
            document.getElementById("chartList").style.visibility = "hidden";
            showTabList(); */
        })






    </script>

    <script>

        function chartPie(contentId , dataset , dimension , mesure) {
            const div = document.createElement('div');

            div.className = 'row';

            var chartContainer = "chartContainer" + contentId ;
            div.innerHTML = `<div id=`+chartContainer+` style="height: 300px; width: 100%;"></div>`;

            document.getElementById(contentId).innerHTML = "" ;
            document.getElementById(contentId).appendChild(div);
            document.getElementById(contentId).style.visibility = "visible";
            PieChartFill(chartContainer , dataset , dimension , mesure);

        }
        function chartBar(contentId , dataset , dimension , mesure) {
            const div = document.createElement('div');

            div.className = 'row';
            var chartContainer = "chartContainer" + contentId ;
            div.innerHTML = `  <div id=`+chartContainer+` style="height: 300px; width: 100%;">
                                </div>
                                <div style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;">
                                </div>`;

            document.getElementById(contentId).innerHTML = "" ;
            document.getElementById(contentId).appendChild(div);
            document.getElementById(contentId).style.visibility = "visible";




            var uniques = [];
            var base_url = window.location.origin;
            var urlAPI = base_url+"/dashboard/getUniquesDataset?dataset="+dataset+"&mesure="+mesure+"" ;
            var myData ;
            $.ajax({
                type:"GET",
                async: false,
                dataType: "json",
                data:{name: name},
                url:urlAPI,
                success:function(data)
                {
                    myData = data;
                }
            });
            console.log(myData);
            for (var i = 0; i < myData.length; i++) {
                uniques.push(myData[i][mesure]);
            }
            var uniquesQuery = "";
            for (var i = 0; i < uniques.length; i++){
                var val = uniques[i] ;
                var cnt_val = "cnt_"+ val;
                uniquesQuery = uniquesQuery +  "sum(d."+mesure+" = '"+val+"') as "+cnt_val+","
                uniques[i] = cnt_val;
            }
            uniquesQuery = uniquesQuery.slice(0,-1);
            if (uniques.length < 10) {

                // document.getElementById("loader").style.display = "block";
                BarChartFill2(chartContainer ,uniques,uniquesQuery,dataset , dimension , mesure);
            } else {

             //   document.getElementById("loader").style.display = "block";
                BarChartFill(chartContainer , dataset , dimension , mesure);
            }
        }

        function chartLine(contentId , dataset , dimension , mesure) {
            const div = document.createElement('div');

            div.className = 'row';

            var chartContainer = "chartContainer" + contentId ;
            div.innerHTML = `  <div id=`+chartContainer+` style="height: 300px; width: 100%;">
                                </div>
                                <div style="margin-top:16px;color:dimgrey;font-size:9px;font-family: Verdana, Arial, Helvetica, sans-serif;text-decoration:none;">
                                </div>`;

            document.getElementById(contentId).innerHTML = "" ;
            document.getElementById(contentId).appendChild(div);
            document.getElementById(contentId).style.visibility = "visible";
            LineChartFill(chartContainer , dataset , dimension , mesure);
        }
    </script>


<script>

    function BarChartFill(chartContainer , dataset , dimension , mesure){
  /*      var val1 = $('#tabList').find(":selected").text()
        var val2 = $('#col1List').find(":selected").text()
        var val3 = $('#col2List').find(":selected").text() */
        val1 = tab;
        val2 = col1;
        val3 = col2;
        var dataPoints = [];
        var chart = new CanvasJS.Chart(chartContainer,
            {
                title:{
                    text:  dimension + " par "+ mesure
                },
                data: [
                    {

                        indexLabelOrientation: "vertical",
                        type: "column",
                        dataPoints: dataPoints
                    },

                ]
            });
        var base_url = window.location.origin;
        var urlAPI = base_url+"/dashboard/datasetChart?chart=barChart&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+""  ;
        $.getJSON(urlAPI, function(data)
        {

            var data_length = data.length;
            for (var i = 0; i < data_length; i++) {
                dataPoints.push({label: data[i][dimension], y: parseInt(data[i][mesure])});            }

            document.getElementById("loader").style.display = "none";
            chart.render();
        })
    }
    function BarChartFill2(chartContainer , uniques , uniquesQuery,dataset , dimension , mesure) {

      /*  var val1 = $('#tabList').find(":selected").text()
        var col1 = $('#col1List').find(":selected").text()
        var col2 = $('#col2List').find(":selected").text()
 */
        val1 = tab;
        col1 = col1;
        col2 = col2;
        var dataPoints = [];
        var chart = new CanvasJS.Chart(chartContainer,
            {
                title: {
                    text: dimension + " par "+ mesure
                },
                data: [
                    {

                        indexLabelOrientation: "vertical",
                        type: "column",
                        dataPoints: dataPoints
                    },

                ]
            });
        var base_url = window.location.origin;
      //  var urlAPI = base_url + "/dashboard/chart?tab=" + val1 + "&col1=" + col1 + "&col2=" + col2 + "&query=" + uniquesQuery +"&chart="+ "barChart2" ;
        var urlAPI = base_url + "/dashboard/datasetChart?chart=barChart2&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+"&query=" + uniquesQuery


        $.getJSON(urlAPI, function (data) {

                console.log("data")
                console.log(data)
                myData = data;
                for (let i = 0; i < uniques.length; i++) {
                    var val = uniques[i];
                    // alert(" ------- val =  :  " + val + " ------ : " + data[1]["cntH"]);
                    var series2 = {
                        type: "column",
                        name: uniques[i],
                        showInLegend: true
                    };
                    var dataPoints = [];
                    series2.dataPoints = dataPoints;
                    for (let j = 0; j < myData.length; j++) {
                        var stt = j.toString();
                        dataPoints.push({label: myData[j][dimension], y: parseInt(myData[j][val])});
                    }
                    chart.options.data.push(series2);
                }

                document.getElementById("loader").style.display = "none";
                chart.render();
            }
        )
    }






    function PieChartFill(chartContainer , dataset , dimension , mesure){
        var val1 = tab ;
        var val2 = col1;
        var dataPoints = [];
        var chart = new CanvasJS.Chart(chartContainer ,
            {
                theme: "light2",
                title:{
                    text: "Pourcentages de " + dimension
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        toolTipContent: "{y}  {indexLabel} - #percent % ",
                        yValueFormatString: "#",
                        legendText: "{indexLabel}",
                        dataPoints:  dataPoints,
                    }
                ]
            });

        var base_url = window.location.origin;
        var urlAPI = base_url+"/dashboard/datasetChart?chart=pieChart&dataset="+dataset+"&dimension="+dimension+"&mesure=null"
        $.getJSON(urlAPI, function(data)
        {
            var data_length = data.length;
            for (var i = 0; i < data_length; i++) {
                dataPoints.push({indexLabel: data[i][dimension], y: parseInt(data[i]["cnt"])});
            }

            document.getElementById("loader").style.display = "none";
        chart.render();
    })
    }
    function LineChartFill(chartContainer , dataset , dimension , mesure){
   /*     var val1 = $('#tabList').find(":selected").text()
        var val2 = $('#col1List').find(":selected").text()
        var val3 = $('#col2List').find(":selected").text() */
        val1 = tab;
        val2 = col1;
        val3 = col2;
        var dataPoints = [];

        var chart = new CanvasJS.Chart(chartContainer,
            {

                title:{
                    text: dimension + " par "+ mesure
                },
                data: [
                    {
                        type: "line",

                        dataPoints: dataPoints
    }
    ]
    });

        var base_url = window.location.origin;
        var urlAPI = base_url+"/dashboard/datasetChart?chart=lineChart&dataset="+dataset+"&dimension="+dimension+"&mesure="+mesure+""  ;
        $.getJSON(urlAPI, function(data) {
            var data_length = data.length;
            for (var i = 0; i < data_length; i++) {

              /*  dataPoints.push({label: new Date(parseInt($year), parseInt($month) - 1, parseInt($day)), y: parseInt(data[i][val2])});*/
                dataPoints.push({label: data[i][dimension], y: parseInt(data[i][mesure])});


            }
            document.getElementById("loader").style.display = "none";
            chart.render();
        })

    }


</script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}