<?xml version="1.0" encoding="UTF-8"?>
<html >
<head>
    <title>JQVMap - Tunisia Map</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="../dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="../dist/maps/jquery.vmap.tunisia.js" charset="utf-8"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'tunisia',
                backgroundColor: '#a5bfdd',
                borderColor: '#818181',
                borderOpacity: 0.25,
                borderWidth: 1,
                color: '#f4f3f0',
                enableZoom: true,
                hoverColor: '#c9dfaf',
                hoverOpacity: null,
                normalizeFunction: 'linear',
                scaleColors: ['#b6d6ff', '#005ace'],
                selectedColor: '#c9dfaf',
                selectedRegions: null,
                showTooltip: true,
                onRegionClick: function (element, code, region) {
                    var message = 'You clicked "'
                        + region
                        + '" which has the code: '
                        + code.toUpperCase();

                    alert(message);
                }
            });

            var stateCodePositions = //paste JSON object instead of one below //
                {
                    "BZ": {
                        "x": 430.59089969688506,
                        "y": 130.8095035582893
                    },
                    "BJ": {
                        "x": 350.59089969688506,
                        "y": 250.8095035582893
                    },
                    "JD": {
                        "x": 250.59089969688506,
                        "y": 250.8095035582893
                    },
                    "MN": {
                        "x": 460.59089969688506,
                        "y": 200.8095035582893
                    },
                    "AR": {
                        "x": 520.59089969688506,
                        "y": 160.8095035582893
                    },
                    "TN": {
                        "x": 550.59089969688506,
                        "y": 240.8095035582893
                    },
                    "BA": {
                        "x": 550.59089969688506,
                        "y": 280.8095035582893
                    },
                    "NB": {
                        "x": 650.59089969688506,
                        "y": 280.8095035582893
                    },
                    "ZG": {
                        "x": 520.59089969688506,
                        "y": 330.8095035582893
                    },
                    "KF": {
                        "x": 250.59089969688506,
                        "y": 410.8095035582893
                    },
                    "SL": {
                        "x": 370.59089969688506,
                        "y": 410.8095035582893
                    },
                    "SO": {
                        "x":600.59089969688506,
                        "y": 450.8095035582893
                    },
                    "KR": {
                        "x":480.59089969688506,
                        "y": 520.8095035582893
                    },
                    "KA": {
                        "x":250.59089969688506,
                        "y":630.8095035582893
                    },
                    "MO": {
                        "x":670.59089969688506,
                        "y": 530.8095035582893
                    },
                    "MA": {
                        "x":670.59089969688506,
                        "y": 620.8095035582893
                    },
                    "SB": {
                        "x":420.59089969688506,
                        "y":720.8095035582893
                    },
                    "SX": {
                        "x":600.59089969688506,
                        "y":780.8095035582893
                    },
                    "GA": {
                        "x":250.59089969688506,
                        "y":870.8095035582893
                    },
                    "TZ": {
                        "x":100.59089969688506,
                        "y":1000.8095035582893
                    },
                    "GB": {
                        "x":480.59089969688506,
                        "y":1050.8095035582893
                    },
                    "KB": {
                        "x":250.59089969688506,
                        "y":1110.8095035582893
                    },
                    "MD": {
                        "x":730.59089969688506,
                        "y":1200.8095035582893
                    },
                    "TA": {
                        "x":480.59089969688506,
                        "y":1450.8095035582893
                    },
                }  ;

            var mapg= document.querySelector("#vmap g");
            for (var i in stateCodePositions) {

                var textNode = document.createElementNS("http://www.w3.org/2000/svg", "text");

                textNode.setAttribute("x", stateCodePositions[i].x);
                textNode.setAttribute("y", stateCodePositions[i].y);
                textNode.setAttribute("style", "fill:red;stroke:blue; font-size: 40px ;border:solid 1px red;padding:2px 5px");
                textNode.textContent = i;
                mapg.appendChild(textNode);
            }
        });
    </script>
</head>
<body>
<div id="vmap" style="width: 700px; height: 637px;"></div>
</body>
</html>