<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>JQVMap - USA Map</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="../dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../dist/jquery.vmap.js"></script>
    <script type="text/javascript" src="../dist/maps/jquery.vmap.usa.js" charset="utf-8"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'usa_en',
                enableZoom: true,
                showTooltip: true,
                selectedColor: null,
                hoverColor: null,
                colors: {
                    mo: '#C9DFAF',
                    fl: '#C9DFAF',
                    or: '#C9DFAF'
                },
                onRegionClick: function(event, code, region){
                    event.preventDefault();
                }

            });


            var mapg= document.querySelector("#vmap g");
            for (var i in stateCodePositions) {

                var textNode = document.createElementNS("http://www.w3.org/2000/svg", "text");

                textNode.setAttribute("x", stateCodePositions[i].x);
                textNode.setAttribute("y", stateCodePositions[i].y);
                textNode.setAttribute("style", "fill:red;stroke:red;border:solid 1px red;padding:2px 5px");
                textNode.textContent = i;
                mapg.appendChild(textNode);
            }

        });
    </script>

    <script>

        jQuery(document).ready(function() {

            var vmap = jQuery('#vmap').vectorMap({
                map: 'usa_en',
                enableZoom: false,
                showTooltip: true,
                backgroundColor: '#D9D9D9',
                color: '#009F45',
                borderColor: '#ffffff',
                borderOpacity: 0.25,
                borderWidth: 2,
                hoverColor: '#999999',
                selectedColor: '#0077aa',
                selectedRegion: 'MO',
                onRegionClick: function(element, code, region) {}

            });
        });

        jQuery("#vmap g").ready(function() {

            var vmapg = document.querySelector("#vmap g");
            var statePathes = vmapg.querySelectorAll("path");

            //parse all the states
            for (var i = 0, statePathes_length = statePathes.length; i < statePathes_length; i++) {
                var stateCode = statePathes[i].id.split("_").pop().toUpperCase();
                vmapg.appendChild(createTextNode(statePathes[i], stateCode));
            }

            /*listeners for the editing methods*/
            document.querySelector("#vmap").addEventListener("mousemove", function(evt) {

                if (movingText && movingText != null) {
                    movingText.setAttribute("x", +movingText.dataset.startposX + (evt.clientX - +movingText.dataset.dragposX));
                    movingText.setAttribute("y", +movingText.dataset.startposY + (evt.clientY - +movingText.dataset.dragposY));
                }
            });

            document.querySelector("#vmap").addEventListener("mousedown", function(evt) {
                if (movingText && evt.target != movingText) {
                    movingText = null;
                }
            });
            console.log("ok");
            document.querySelector("#getTextPosition").addEventListener("click", function() {
                var stateCodes = {};
                var stateCodeElements = document.querySelectorAll("#vmap text");
                [].forEach.call(stateCodeElements, function(stateCodeElement) {
                    stateCodes[stateCodeElement.dataset.state] = {
                        x: +stateCodeElement.getAttribute("x"),
                        y: +stateCodeElement.getAttribute("y")
                    };
                })
                document.querySelector("textarea").value = JSON.stringify(stateCodes);
            });

        });

        function createTextNode(path, text) {

            var textNode = document.createElementNS("http://www.w3.org/2000/svg", "text");

            var centroid = centroidOfPath(path.getAttribute("d"));
            textNode.setAttribute("x", centroid.x);
            textNode.setAttribute("y", centroid.y);
            textNode.setAttribute("style", "fill:#fff;stroke:#fff;border:solid 1px #fff;padding:2px 5px");
            textNode.dataset.drag = "false";
            textNode.dataset.state= text;

            textNode.textContent = text;
            textNode.addEventListener("mousedown", function(evt) {

                if (this.dataset.drag == "false") {
                    this.dataset.dragposX = evt.clientX;
                    this.dataset.dragposY = evt.clientY;

                    this.dataset.startposX = this.getAttribute("x");
                    this.dataset.startposY = this.getAttribute("y");
                    this.dataset.drag = "true";
                    movingText = this;
                } else {
                    this.dataset.drag = "false";
                    movingText = null;
                }
            });

            return textNode;
        }

        function centroidOfPath(path) {

            var parsedPath = svgPathParser(path);

            // pathes in jqvmap are, for the most of them, in the form of [ start Point, [ curves ] ]
            // if you want better results it is possible to refine that.
            var origin = {
                x: parsedPath[0].x,
                y: parsedPath[0].y
            };
            var pathPartCentroids = [];
            var totalLength = 0;
            for (var i = 1; i < parsedPath.length - 1; i++) {

                var pathPart = parsedPath[i];

                if (pathPart.code != "c")
                    break;

                //centroidOfPathPart returns the centroid of a Bezier curve.
                var pathPartCentroid = centroidOfPathPart([
                    [0, 0],
                    [pathPart.x1, pathPart.y1],
                    [pathPart.x2, pathPart.y2],
                    [pathPart.x, pathPart.y]
                ]);

                pathPartCentroid.x += origin.x;
                pathPartCentroid.y += origin.y;

                pathPartCentroid = {
                    centroid: pathPartCentroid,
                    distance: norm(pathPartCentroid, origin)
                }
                pathPartCentroids.push(pathPartCentroid);

                totalLength += pathPartCentroid.distance;

                origin.x += pathPart.x;
                origin.y += pathPart.y;
            }

            var centroid = {
                x: 0,
                y: 0
            };

            //segments are weighted by their length
            pathPartCentroids.forEach(function(pathPart) {
                centroid.x += pathPart.centroid.x * pathPart.distance / totalLength;
                centroid.y += pathPart.centroid.y * pathPart.distance / totalLength;
            });
            return centroid;
        }

        function centroidOfPathPart(points) {

            var centroid = {
                x: 0,
                y: 0
            };
            points.map(function(point) {
                centroid.x += point[0];
                centroid.y += point[1];
            });
            centroid.x /= points.length;
            centroid.y /= points.length;

            return centroid;
        }

        function placePoint(point) {

            var container = document.querySelector('#test');

            var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            circle.setAttribute("style", "stroke:#006600; fill:#00cc00");
            circle.setAttribute("r", 5);
            circle.setAttribute("cx", point.x);
            circle.setAttribute("cy", point.y);

            container.appendChild(circle);
        }

        function norm(point1, point2) {
            var xs = 0;
            var ys = 0;

            xs = point2.x - point1.x;
            xs = xs * xs;

            ys = point2.y - point1.y;
            ys = ys * ys;

            return Math.sqrt(xs + ys);
        }
    </script>
</head>
<body>
<div id="pane" >
    <ul>
        <li>Move a label by clicking on it. Then release it by clicking again.
        <li>Once you have the right position, copy the JSON below, and paste it in <a href="">this other pen</a>
    </ul>
    <textarea>

  </textarea>
    <button id="getTextPosition">Get positions</button>
</div>
<div id="vmap" style="width: 600px; height: 400px;"></div>
</body>
</html>